
body{

}

#Header{
	text-align: center;
	background-image: url('seattle.jpg');
	background-repeat: no-repeat;
	background-size: 100%;

}

h1{
	color: white;
	text-shadow: 5px 5px 5px grey;
}

h2{

}

#Account{

}

#PersonalInformation{

}

#Availability{

}

#Education{

}